In [30]:
import pandas as pd

### Cleaning MVP data

In [31]:
mvp_df = pd.read_csv('mvps.csv')
mvp_df.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Magic Johnson,30,LAL,27.0,636.0,920,0.691,79,37.2,...,6.6,11.5,1.7,0.4,0.480,0.384,0.890,16.5,0.270,1990
1,2,Charles Barkley,26,PHI,38.0,614.0,920,0.667,79,39.1,...,11.5,3.9,1.9,0.6,0.600,0.217,0.749,17.3,0.269,1990
2,3,Michael Jordan,26,CHI,21.0,564.0,920,0.613,82,39.0,...,6.9,6.3,2.8,0.7,0.526,0.376,0.848,19.0,0.285,1990
3,4,Karl Malone,26,UTA,2.0,214.0,920,0.233,82,38.1,...,11.1,2.8,1.5,0.6,0.562,0.372,0.762,15.9,0.245,1990
4,5,Patrick Ewing,27,NYK,1.0,162.0,920,0.176,82,38.6,...,10.9,2.2,1.0,4.0,0.551,0.250,0.775,13.5,0.205,1990

In [32]:
# Remove duplicate stats from players.csv
mvp_df = mvp_df[['Player', 'Year', 'Share']]
mvp_df.head()

            Player  Year  Share
0    Magic Johnson  1990  0.691
1  Charles Barkley  1990  0.667
2   Michael Jordan  1990  0.613
3      Karl Malone  1990  0.233
4    Patrick Ewing  1990  0.176

### Cleaning player data

In [33]:
player_df = pd.read_csv('players.csv')
player_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mark Acres,C,27,ORL,80,50,21.1,1.7,3.6,...,1.9,3.5,5.4,0.8,0.5,0.3,0.9,3.1,4.5,1990
1,2,Michael Adams,PG,27,DEN,79,74,34.1,5.0,12.5,...,0.6,2.2,2.8,6.3,1.5,0.0,1.8,1.7,15.5,1990
2,3,Mark Aguirre,SF,30,DET,78,40,25.7,5.6,11.5,...,1.5,2.4,3.9,1.9,0.4,0.2,1.6,2.6,14.1,1990
3,4,Danny Ainge,PG,30,SAC,75,68,36.4,6.7,15.4,...,0.9,3.4,4.3,6.0,1.5,0.2,2.5,3.2,17.9,1990
4,5,Mark Alarie,PF,26,WSB,82,10,23.1,4.5,9.6,...,1.8,2.7,4.6,1.7,0.7,0.5,1.2,2.7,10.5,1990

In [34]:
player_df.drop('Rk', axis=1, inplace=True)
player_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Mark Acres,C,27,ORL,80,50,21.1,1.7,3.6,.484,...,1.9,3.5,5.4,0.8,0.5,0.3,0.9,3.1,4.5,1990
1,Michael Adams,PG,27,DEN,79,74,34.1,5.0,12.5,.402,...,0.6,2.2,2.8,6.3,1.5,0.0,1.8,1.7,15.5,1990
2,Mark Aguirre,SF,30,DET,78,40,25.7,5.6,11.5,.488,...,1.5,2.4,3.9,1.9,0.4,0.2,1.6,2.6,14.1,1990
3,Danny Ainge,PG,30,SAC,75,68,36.4,6.7,15.4,.438,...,0.9,3.4,4.3,6.0,1.5,0.2,2.5,3.2,17.9,1990
4,Mark Alarie,PF,26,WSB,82,10,23.1,4.5,9.6,.473,...,1.8,2.7,4.6,1.7,0.7,0.5,1.2,2.7,10.5,1990

In [35]:
# Removing * after some names
player_df['Player'] = player_df['Player'].str.replace('*', '', regex=False)
player_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Mark Acres,C,27,ORL,80,50,21.1,1.7,3.6,.484,...,1.9,3.5,5.4,0.8,0.5,0.3,0.9,3.1,4.5,1990
1,Michael Adams,PG,27,DEN,79,74,34.1,5.0,12.5,.402,...,0.6,2.2,2.8,6.3,1.5,0.0,1.8,1.7,15.5,1990
2,Mark Aguirre,SF,30,DET,78,40,25.7,5.6,11.5,.488,...,1.5,2.4,3.9,1.9,0.4,0.2,1.6,2.6,14.1,1990
3,Danny Ainge,PG,30,SAC,75,68,36.4,6.7,15.4,.438,...,0.9,3.4,4.3,6.0,1.5,0.2,2.5,3.2,17.9,1990
4,Mark Alarie,PF,26,WSB,82,10,23.1,4.5,9.6,.473,...,1.8,2.7,4.6,1.7,0.7,0.5,1.2,2.7,10.5,1990

In [36]:
# consolidate rows of players who played for multiple seasons that year into one row
def consolidate_rows(df):
    if df.shape[0] == 1:
        return df
    row = df[df['Tm'] == 'TOT'] # total
    row['Tm'] = df['Tm'].iloc[-1]
    return row

In [37]:
player_df = player_df.groupby(['Player', 'Year']).apply(consolidate_rows)

In [38]:
player_df.head()

                          Player Pos Age   Tm   G  GS    MP   FG   FGA   FG%  \
Player     Year
A.C. Green 1990 146   A.C. Green  PF  26  LAL  82  82  33.0  4.7   9.8  .478
           1991 641   A.C. Green  PF  27  LAL  82  21  26.4  3.1   6.6  .476
           1992 1110  A.C. Green  PF  28  LAL  82  53  35.4  4.7   9.8  .476
           1993 1569  A.C. Green  PF  29  LAL  82  55  34.4  4.6   8.6  .537
           1994 2056  A.C. Green  PF  30  PHO  82  55  34.5  5.7  11.3  .502

                      ...  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS  Year
Player     Year       ...
A.C. Green 1990 146   ...  3.2  5.5  8.7  1.1  0.8  0.6  1.4  2.5  12.9  1990
           1991 641   ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2  1.4   9.1  1991
           1992 1110  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4  1.7  13.6  1992
           1993 1569  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4  1.8  12.8  1993
           1994 2056  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2  1.7  14.7  1994

[5 rows x 30 columns]

In [39]:
player_df.index = player_df.index.droplevel()
player_df.index = player_df.index.droplevel()
player_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
146,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990
641,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
1110,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1569,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
2056,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994

#### Combining MVP and player data

In [40]:
combined = player_df.merge(mvp_df, how='outer', on=['Player', 'Year'])
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Share
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990,NaN
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN

In [41]:
combined[['Share']] = combined[['Share']].fillna(0)
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Share
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990,0.0
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0

In [42]:
combined[combined['Share'] > 0]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Share
191,Al Jefferson,C,29,CHA,73,73,35.0,9.6,18.8,.509,...,8.7,10.8,2.1,0.9,1.1,1.7,2.4,21.8,2014,0.027
335,Allen Iverson,PG,21,PHI,76,74,40.1,8.2,19.8,.416,...,2.6,4.1,7.5,2.1,0.3,4.4,3.1,23.5,1997,0.001
337,Allen Iverson,SG,23,PHI,48,48,41.5,9.1,22.0,.412,...,3.5,4.9,4.6,2.3,0.1,3.5,2.0,26.8,1999,0.270
338,Allen Iverson,SG,24,PHI,70,70,40.8,10.4,24.8,.421,...,2.8,3.8,4.7,2.1,0.1,3.3,2.3,28.4,2000,0.109
339,Allen Iverson,SG,25,PHI,71,71,42.0,10.7,25.5,.420,...,3.1,3.8,4.6,2.5,0.3,3.3,2.1,31.1,2001,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13951,Vince Carter,SF,23,TOR,82,82,38.1,9.6,20.7,.465,...,4.0,5.8,3.9,1.3,1.1,2.2,3.2,25.7,2000,0.042
13952,Vince Carter,SF,24,TOR,75,75,39.7,10.2,22.1,.460,...,3.2,5.5,3.9,1.5,1.1,2.2,2.7,27.6,2001,0.006
13956,Vince Carter,SF-SG,28,NJN,77,76,36.7,9.0,20.0,.452,...,3.8,5.2,4.2,1.4,0.6,2.2,3.2,24.5,2005,0.002
14329,Yao Ming,C,23,HOU,82,82,32.8,6.5,12.5,.522,...,6.6,9.0,1.5,0.3,1.9,2.5,3.3,17.5,2004,0.001
14334,Yao Ming,C,28,HOU,77,77,33.6,7.4,13.4,.548,...,7.2,9.9,1.8,0.4,1.9,3.0,3.3,19.7,2009,0.001

#### Team records

In [43]:
record_df = pd.read_csv('records.csv')
record_df.head(20)

,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
0,Philadelphia 76ers*,53,29,.646,â€”,110.2,105.2,4.23,1990
1,Boston Celtics*,52,30,.634,1.0,110.0,106.0,3.23,1990
2,New York Knicks*,45,37,.549,8.0,108.3,106.9,0.78,1990
3,Washington Bullets,31,51,.378,22.0,107.7,109.9,-2.43,1990
4,Miami Heat,18,64,.220,35.0,100.6,110.3,-9.59,1990
5,New Jersey Nets,17,65,.207,36.0,100.1,108.0,-7.82,1990
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1990
7,Detroit Pistons*,59,23,.720,â€”,104.3,98.3,5.41,1990
8,Chicago Bulls*,55,27,.671,4.0,109.5,106.2,2.74,1990
9,Milwaukee Bucks*,44,38,.537,15.0,106.0,106.8,-1.06,1990
10,Cleveland Cavaliers*,42,40,.512,17.0,102.6,102.9,-0.62,1990
11,Indiana Pacers*,42,40,.512,17.0,109.3,109.1,-0.18,1990
12,Atlanta Hawks,41,41,.500,18.0,108.5,107.5,0.64,1990
13,Orlando Magic,18,64,.220,41.0,110.9,119.8,-8.73,1990
14,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1990
15,San Antonio Spurs*,56,26,.683,â€”,106.3,102.8,3.58,1990
16,Utah Jazz*,55,27,.671,1.0,106.8,102.0,4.82,1990
17,Dallas Mavericks*,47,35,.573,9.0,102.2,102.2,0.42,1990
18,Denver Nuggets*,43,39,.524,13.0,114.6,113.2,1.56,1990
19,Houston Rockets*,41,41,.500,15.0,106.7,105.3,1.71,1990

In [44]:
# Remove rows with the division
record_df = record_df[~record_df['Team'].str.contains('Division')]
record_df.head(20)

                      Team   W   L  W/L%    GB   PS/G   PA/G    SRS  Year
0      Philadelphia 76ers*  53  29  .646     â€”  110.2  105.2   4.23  1990
1          Boston Celtics*  52  30  .634   1.0  110.0  106.0   3.23  1990
2         New York Knicks*  45  37  .549   8.0  108.3  106.9   0.78  1990
3       Washington Bullets  31  51  .378  22.0  107.7  109.9  -2.43  1990
4               Miami Heat  18  64  .220  35.0  100.6  110.3  -9.59  1990
5          New Jersey Nets  17  65  .207  36.0  100.1  108.0  -7.82  1990
7         Detroit Pistons*  59  23  .720     â€”  104.3   98.3   5.41  1990
8           Chicago Bulls*  55  27  .671   4.0  109.5  106.2   2.74  1990
9         Milwaukee Bucks*  44  38  .537  15.0  106.0  106.8  -1.06  1990
10    Cleveland Cavaliers*  42  40  .512  17.0  102.6  102.9  -0.62  1990
11         Indiana Pacers*  42  40  .512  17.0  109.3  109.1  -0.18  1990
12           Atlanta Hawks  41  41  .500  18.0  108.5  107.5   0.64  1990
13           Orlando Magic  18  64  .220  41.0  110.9  119.8  -8.73  1990
15      San Antonio Spurs*  56  26  .683     â€”  106.3  102.8   3.58  1990
16              Utah Jazz*  55  27  .671   1.0  106.8  102.0   4.82  1990
17       Dallas Mavericks*  47  35  .573   9.0  102.2  102.2   0.42  1990
18         Denver Nuggets*  43  39  .524  13.0  114.6  113.2   1.56  1990
19        Houston Rockets*  41  41  .500  15.0  106.7  105.3   1.71  1990
20  Minnesota Timberwolves  22  60  .268  34.0   95.2   99.4  -3.60  1990
21       Charlotte Hornets  19  63  .232  37.0  100.4  108.2  -7.00  1990

In [45]:
# remove * from team names
record_df['Team'] = record_df['Team'].str.replace('*', '', regex=False)
record_df.head()

                 Team   W   L  W/L%    GB   PS/G   PA/G    SRS  Year
0  Philadelphia 76ers  53  29  .646     â€”  110.2  105.2   4.23  1990
1      Boston Celtics  52  30  .634   1.0  110.0  106.0   3.23  1990
2     New York Knicks  45  37  .549   8.0  108.3  106.9   0.78  1990
3  Washington Bullets  31  51  .378  22.0  107.7  109.9  -2.43  1990
4          Miami Heat  18  64  .220  35.0  100.6  110.3  -9.59  1990

In [107]:
abbreviations = {'ATL':'Atlanta Hawks', 'BKN':'Brooklyn Nets', 'BRK':'Brooklyn Nets', 'BOS':'Boston Celtics', 'CHA':'Charlotte Hornets', 'CHO':'Charlotte Hornets', 'CHB':'Charlotte Bobcats', 'CHI':'Chicago Bulls', 'CLE':'Cleveland Cavaliers',
             'DAL':'Dallas Mavericks', 'DEN':'Denver Nuggets', 'DET':'Detroit Pistons', 'GSW':'Golden State Warriors', 'HOU':'Houston Rockets', 'IND':'Indiana Pacers',
             'LAC':'Los Angeles Clippers', 'LAL':'Los Angeles Lakers', 'MEM':'Memphis Grizzlies', 'MIA':'Miami Heat', 'MIL':'Milwaukee Bucks', 'MIN':'Minnesota Timberwolves',
             'NOP':'New Orleans Pelicans', 'NOH':'New Orleans Hornets','NYK':'New York Knicks', 'NJN':'New Jersey Nets','OKC':'Oklahoma City Thunder', 'ORL':'Orlando Magic', 'PHI':'Philadelphia 76ers', 'PHX':'Phoenix Suns', 'PHO':'Phoenix Suns',
             'POR':'Portland Trail Blazers', 'SAC':'Sacramento Kings', 'SAS':'San Antonio Spurs', 'SEA':'Seattle SuperSonics', 'VAN':'Vancouver Grizzlies','TOR':'Toronto Raptors', 'UTA':'Utah Jazz', 'WAS':'Washington Wizards', 'WSB':'Washington Bullets'}

In [108]:
combined['Tm'].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'CHI', 'GSW', 'IND',
       'WAS', 'MIN', 'BOS', 'HOU', 'DEN', 'ORL', 'NOH', 'TOR', 'SAC',
       'CHO', 'POR', 'DET', 'PHI', 'UTA', 'MIL', 'VAN', 'SEA', 'NJN',
       'NOK', 'LAC', 'OKC', 'ATL', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [109]:
combined['Team'] = combined['Tm'].map(abbreviations)
combined.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Share,Team
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990,0.0,Los Angeles Lakers
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,Los Angeles Lakers
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,Los Angeles Lakers
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,Los Angeles Lakers
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,Phoenix Suns

In [110]:
stats_df = combined.merge(record_df, how='outer', on=['Team', 'Year'])
stats_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Year,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,1990,0.0,Los Angeles Lakers,63,19,.768,â€”,110.7,103.9,6.74
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,.470,...,1990,0.0,Los Angeles Lakers,63,19,.768,â€”,110.7,103.9,6.74
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,.548,...,1990,0.0,Los Angeles Lakers,63,19,.768,â€”,110.7,103.9,6.74
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,.500,...,1990,0.0,Los Angeles Lakers,63,19,.768,â€”,110.7,103.9,6.74
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,.470,...,1990,0.0,Los Angeles Lakers,63,19,.768,â€”,110.7,103.9,6.74

In [111]:
stats_df.dtypes

Player     object
Pos        object
Age        object
Tm         object
G          object
GS         object
MP         object
FG         object
FGA        object
FG%        object
3P         object
3PA        object
3P%        object
2P         object
2PA        object
2P%        object
eFG%       object
FT         object
FTA        object
FT%        object
ORB        object
DRB        object
TRB        object
AST        object
STL        object
BLK        object
TOV        object
PF         object
PTS        object
Year        int64
Share     float64
Team       object
W          object
L          object
W/L%       object
GB         object
PS/G       object
PA/G       object
SRS        object
dtype: object

In [112]:
stats_df['GB'].unique()

array(['â€”', '5.0', '14.0', '23.0', '7.0', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', '37.0', '29.0', '21.0', '28.0', '25.0', '8.0',
       '19.0', '1.0', '13.0', '17.0', '3.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0', '30.0',
       nan, '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0', '39.0',
       '18.5', '48.0', '46.0', '10.5', '32.0', '38.0', '27.0', '33.0',
       '31.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5', '11.5',
       '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5', '4.5'],
      dtype=object)

In [113]:
stats_df['GB'] = stats_df['GB'].str.replace('â€”', '0') # GB = games behind

In [114]:
stats_df = stats_df.apply(pd.to_numeric, errors='ignore')
stats_df.dtypes

Player     object
Pos        object
Age       float64
Tm         object
G         float64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
Year        int64
Share     float64
Team       object
W         float64
L         float64
W/L%      float64
GB        float64
PS/G      float64
PA/G      float64
SRS       float64
dtype: object

In [116]:
# Charlotte and New Orleans had many name changes
stats_df = stats_df[stats_df['PTS'].notna()]

In [117]:
stats_df.to_csv('all_stats.csv', index=False)